*{
    margin: 0px;
    padding: 0px;
}
header, section, footer, aside, nav, article{
    display: block;
}
body{
    width: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
}
ul img{
    display: block;
    position: absolute;
    left: 133px;
    top: 20px;
    -webkit-transition: -webkit-transform 2s;
}
ul img:hover{
    -webkit-transform: rotate(360deg);
}
#top_div{
    max-width: 1350px;
    margin: 0px 0px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    background: -webkit-linear-gradient(top, #dcebf8, #ffffff);
    -webkit-box-flex: 1;
}
#top_nav{
    background: #1a2845;
    -webkit-box-flex: 1;
    padding: 20px;
}
#top_nav li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: 14px Arial;
}
ul{
    display: -webkit-box;
    justify-content: space-between;
}
ul li{
    color: white;
    margin-right: 0px;
}
.bunny{
    font-family: Arial;
    margin-left: 140px;
    margin-right: 280px;
}
ul a:link{
    color: white;
    text-decoration: none;
    border:solid 0px crimson;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 5px;
    padding-right: 5px;
}
button{
    font-weight: bold;
    margin-left: 15px;
    margin-right: 10px;
    border-color: #caa989;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 30px;
    color: white;
    background-color: transparent;
}
#top_section{
    display: -webkit-box;
    -webkit-box-pack: center;
}
#top_section h1{
    position: absolute;
    left: 39%;
    top: 200px;
    color: #193777;
    font-family: Verdana;
    font-size: 28px;
}
.lightTest{
    text-align: center;
    margin-top: 150px;
    margin-right: 60px;
    font-size: 240px;
    font-family: Verdana;
    font-weight: bold;
    color: #bbd1eb;
}
#imgTxt img{
    -webkit-box-flex: 1;
    position: absolute;
    left: 225px;
    top: 350px;
}
.belowText{
    font-weight: 500;
    font-family: Verdana;
    font-size: 23px;
    position: absolute;
    top: 750px;
    left: 29%;
    color: #193777;
}
#line{
    position: absolute;
    top: 890px;
    left: 220px;
}
#bunnydiv{
    color: #193777;
    position: absolute;
    top: 990px;
    left: 16%;
    font-family: Verdana;
}
#soludiv{
    color: #193777;
    position: absolute;
    top: 990px;
    left: 29%;
    font-family: Verdana;
}
#compdiv{
    color: #193777;
    position: absolute;
    top: 990px;
    left: 45%;
    font-family: Verdana;
}
#condiv{
    color: #193777;
    position: absolute;
    top: 990px;
    left: 60.5%;
    font-family: Verdana;
}
#bunny{
    font-weight: bold;
    margin-bottom: 30px;
}
#bunny2 p{
    font-size: 15px;
    margin-bottom: 7px;
}
#solu{
    font-weight: bold;
    margin-bottom: 30px;
}
#solu2 p{
    font-size: 15px;
    margin-bottom: 7px;
}
#com{
    font-weight: bold;
    margin-bottom: 30px;
}
#com2 p{
    font-size: 15px;
    margin-bottom: 7px;
}
#con{
    font-weight: bold;
    margin-bottom: 30px;
}
#getInTouch{
    color: #193777;
    position: absolute;
    top: 1100px;
    left: 60.5%;
    font-family: Verdana;    
}
#subGet{
    font-weight: bold;
}
#support{
    margin-top: 10px;
    font-weight: bold;
}
#top_footer{
    font-family: Verdana;
    position: absolute;
    top: 1320px;
    background-color: #cbe3f7;
}
#headerFooter{
    color: #193777;
    margin-left: 210px;
    margin-bottom: 15px;
    margin-top: 35px;
    margin-right: 850px;
}
#footerFooter{
    color: #193777;
    margin-left: 210px;
    margin-bottom: 30px;
}
#bunnybody2 img{
    position: absolute;
    top: 1140px;
    left: 76.7%;
}
#facebook img{
    position: absolute;
    top: 1040px;
    left: 60.5%
}
#twitter img{
    position: absolute;
    top: 1043px;
    left: 67.8%;
}
#facebook p{
    font-size: 13px;
    font-family: Verdana;
    position: absolute;
    top: 1043px;
    left: 62.6%
}
#twitter p{
    font-size: 13px;
    font-family: Verdana;
    position: absolute;
    top: 1043px;
    left: 70%;
}
ul a:hover{
    background: -webkit-radial-gradient(top, #348bd3, #a7e0f7);
    text-decoration: none;
    font-weight: bold;
}